.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 200px 200px 200px;
}

.Header {
  background-color: #253d5a;
  display: flex;
  height: 100px;
}

.BankLogoContainer {
  display: flex;
  height: inherit;
  width: 50%;
}

.bankLogo {
  width: 50%;
}

.NavLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.HeaderLink {
  color: white;
  font-size: x-large;
  text-decoration: none;
}

button {
  border-radius: 2px;
  border: 1px solid #27405e;
  background-color: #27405e;
  height: 32px;
  color: white;
}

label {
  padding-top: 15px;
}

button:hover {
  background-color: #3a608f;
  cursor: pointer;
}

input {
  height: 25px;
  width: 250px;
}

.PageSection {
  background-color: #d1dff33f;
}

.sectionHeader {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode';
  font-size: 50px;
  color: #27405e;
  padding-top: 30px;
}

/* styling for account components */
.CreateAccount {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
}

.accountCreationForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
  padding-bottom: 20px;
}

.createAccountBtn {
  border-radius: 2px;
  border: 1px solid #27405e;
  background-color: #27405e;
  height: 40px;
  color: white;
}

.createAccountBtn:hover {
  background-color: #3a608f;
  cursor: pointer;
}

.requestStatus {
  margin-top: 25px;
}

.formErrors {
  color: rgb(189, 48, 48);
}

.success {
  color: green;
}

.error {
  color: rgb(189, 48, 48);
  margin-bottom: 20px;
}

.sectionContainer {
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid lightgray;
}

.singleAccount {
  margin-top: 25px;
}

/* styling for transaction components */
.transactionBtnRow {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  padding-top: 30px;
}

.TransactionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.transactionCreationForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
  padding-bottom: 20px;
}

.transactionFormStatus {
  margin: 25px 0 25px 0;
}

.singleTransaction {
  margin-top: 25px;
}

/*About page*/
.aboutSection {
  padding-bottom: 50px;
}

.loading {
  font-weight: 15px;
}
