.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}
.bankLogo {
  height: 200px;
  width: 1100px;
}

button {
  border-radius: 2px;
  border: 1px solid #27405e;
  background-color: #27405e;
  height: 32px;
  color: white;
}

label {
  padding-top: 15px;
}

button:hover {
  background-color: #3a608f;
  cursor: pointer;
}

input {
  height: 25px;
  width: 250px;
}

/* styling for account components */
.AccountSection {
  background-color: #d1dff33f;
}

.accountHeader {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: #27405e;
  padding-top: 30px;
}

.CreateAccount {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
}

.accountCreationForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
  padding-bottom: 20px;
}

.createAccountBtn {
  border-radius: 2px;
  border: 1px solid #27405e;
  background-color: #27405e;
  height: 40px;
  color: white;
}

.createAccountBtn:hover {
  background-color: #3a608f;
  cursor: pointer;
}

.formStatus {
  margin-top: 25px;
}

.formErrors {
  color: rgb(189, 48, 48);
}

.success {
  color: green;
}

.error {
  color: rgb(189, 48, 48);
  margin-bottom: 20px;
}

.AccountByIdSection {
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid lightgray;
}

.GetAccountsSection {
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid lightgray;
}

.singleAccount {
  padding: 20px;
}

.DeleteAccount {
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid lightgray;
}

/* styling for transaction components */
.TransactionSection {
  background-color: #d1dff33f;
}

.transactionHeader {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: #27405e;
  padding-top: 30px;
}

.transactionBtnRow {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  padding-top: 30px;
}

.TransactionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.transactionCreationForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 260px;
  padding-bottom: 20px;
}

.transactionFormStatus {
  margin-bottom: 25px;
}

.GetAllTransactionsSection {
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid lightgray;
}

.GetTransactionsIdSection {
  padding-top: 30px;
  padding-bottom: 60px;
  border-top: 1px solid lightgray;
}

.loading {
  font-weight: 15px;
}
